.text_section_wrapper {
    @include flexVerticalCenterAlignment;
    row-gap: 20px;

    .icon_wrapper {
        @apply bg-primary flex flex-col justify-center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #c8a45d1a;

        img {
            display: inline-block;
            margin: auto;
            max-width: 20px;
        }
    }

    .main_title {
        @media only screen and (min-width: 1200px) {
            max-width: 520px;
        }
        * {
            @apply font-bold text-5xl py-1;
            @media only screen and (max-width: 1200px) {
                @apply text-xl;
            }
            span {
                @apply text-primary;
                font-size: inherit !important;
                font-weight: inherit !important;
            }
        }
    }

    .main_description {
        @apply font-normal lg:text-lg text-description;
        max-width: 520px;
        text-align: justify;
        @media only screen and (max-width: 1200px) {
            p:first-of-type {
                margin-bottom: 3px !important;
            }
        }
    }

    .main_button {
        @apply font-semibold text-center text-base text-third bg-primary rounded-lg;
        min-width: 165px;
        line-height: 55px;
    }

    .main_link {
        @apply font-semibold text-lg text-primary flex align-middle;
        display: inline-flex;
        column-gap: 7px;
        align-items: center;

        span {
            // font-size: 15px;
            border-bottom: 1px solid var(--mainColor);
            display: inline-block;
        }

        img {
            // width: 10px;
            object-fit: contain;
            height: 12px;
            width: 12px;
            display: inline-block;
        }
    }

    .image_wrapper {
        img {
            width: 100%;
            max-width: 500px;
            display: block;
            margin-inline: auto;
            border-radius: 20px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        padding-inline: 0.75rem;
    }
}

a {
    @apply ease-in-out duration-300;
}

.title {
    @apply text-2xl lg:text-6xl;

    span {
        @apply text-primary;
    }
}
