// red: #0b60a9;
// #000: #686d7a;
$mainColor: #C8A45D;
$links_color: #777;
$cardBgColor: #fff; 
$mainHover: #0b60a9;
$mainHover1: #0842741A;
$dark: #313131;
$darkHover: #686d7a;
$textColor: #444;
$textColor1: #333;
$regular_font: 'Cairo'